<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Hi <%= @user.name %></h2>
  <p>A password reset was requested.</p>
  <p>Please proceed with creating a new password by clicking the URL below:</p>
  <p><%= new_password_request_url(@user.reset_password_token) %></p>
  <p>Please note you have 24 hours to reset your password</p>
</body>
</html>