<p class='lead'>Request reset password</p>
<%= form_tag reset_post_url, class: 'form-inline' do %>
  <div class="form-group">
    <div class='input-group'>
      <span class='input-group-addon' id='username_addon'><span class='glyphicon glyphicon-user'></span></span>
      <%= text_field_tag :email, nil, class: 'form-control', placeholder: 'Email address' %>
      <span class="input-group-btn">
        <%= submit_tag 'Reset' , class: 'btn btn-primary', id: 'reset' %>
      </span>
    </div>
  </div>
<% end %>
