<h1 class="display-3">DEMO AUTHENTICATION</h1>
<p class="lead">Go ahead, login!</p>

<p><%= link_to 'LOGIN', '/login', class: 'btn btn-lg btn-success', role: 'button' %></p>
<p><%= link_to 'Signup', '/register' %></p>